@import url('https://ifanel.com/userfiles/templates/20-dias_nutricion/css/general-sans.css');


@font-face {
    font-family: 'Inter', sans-serif; 
    src: url(https://ifanel.com/userfiles/templates/20-dias_nutricion/recursos/Fuentes/INTER/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.ifanel-gris{
    color: #878B87;
}
.ifanel_verde-oscuro{
    color: #50A869;
}
.ifanel_verde-claro{
    color: #DDEFE2;
}
.ifanel_verde-intermedio{
    color: #8DE8A7 !important;
}

.ifanel-blanco{
    color: #fff;
}
/*Fuentes*/
/*General-Sans*/
.ifanel-general-sans-bold{
    font-family: 'GeneralSans-Bold';
    font-weight: bold;
}
.ifanel-general-sans-medium{
    font-family: 'GeneralSans-Medium';

}
/*Inter*/
.ifanel-inter-medium{
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
}
.ifanel-inter-bold{
    font-family: 'Inter', sans-serif; 
    font-weight: bold;
}
/*CODIGO POR ELEMENTO*/
.ifanel-seccion-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5% 7% 7% 7%;

}
.ifanel-seccion-1__izq__titulo{
    font-size: 4.5rem;
    margin-bottom:1.5rem ;
}
.ifanel-seccion-1__izq__parrafo{
    font-size: 2.5rem;
    margin-bottom:1.5rem ;
}
.ifanel-seccion-1__der{
    width: 50%;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    }
    .ifanel-seccion-1__der__img{
        width: 100%;
    }
    @media (max-width:1200px){
        html{
          font-size: calc(1.3vw - .1vh);
        }
      }
      @media (max-width:720px){
        html{
            font-size: calc(1.4vw - .1vh);
          }
        }
        @media (max-width:520px){
            html{
                font-size: calc(1.5vw - .1vh);
              } 
            }