///* ========================================================================
//   #COLORS
//   ======================================================================== */

// The colors settings file contains the colors used in the game and the pages.

//Game UI
// These are the colors of the pages of the game

$gray-7: rgba(163, 162, 162, 0.7);
$white: white;
$black: #212121;
$black-6: rgba(0, 0, 0, 0.6);
$red: #960000;
$red-crimson: #4f2e18;
$gray__user: #696969;
$gray__2: #9b9898;
$red__2: #be3939;
$gray__brown: #d6ccc2;
$gray__answer: #f5f0ec;

//Pages of the game
//These are the colors of the graphical interface of the game

$border-timer: white;
$border-table: #760606;
$border-reference-bet: #760606;
$background-table: #40916c;
$header-background-chat: rgba(0, 0, 0, 0.6);
$content-background-chat: rgba(163, 162, 162, 0.7);
$content-text-chat: white;
$border-write-chat: #696969;
$content-animation-timer: gray;
$btn-text: white;
$btn-background: #760606;
$cards-background: white;
$player-money-text: white;
$player-money-background: black;
$name-player-text: white;
$name-player-background: black;
$exit-text: white;
$pot-background: #22523c;
$pot-text: white;
$poker-hand-text: white;
$poker-hand-background: #760606;
$reference-bet-background: white;
$reference-bet-text: red;
$chips-text: white;
