.c-error-portrait {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: $red;
  z-index: 100000000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__img {
    display: block;
    width: 100%;
    img {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }
  &__paragraph {
    color: white;
    text-align: center;
  }
}

.c-error-portrait {
  @include mq($from: tablet, $until: desktop, $and: "(orientation: portrait)") {
    display: flex !important;
    width: 100%;
    height: 100%;
  }
  &__paragraph {
    font-size: 1.4rem;
    @include mq(
      $from: tablet,
      $until: desktop,
      $and: "(orientation: portrait)"
    ) {
      font-size: 2.3rem;
    }
  }
  @include mq($from: 240px, $until: tablet, $and: "(orientation: portrait)") {
    display: flex !important;
    width: 100%;
    height: 100%;
  }
  &__paragraph {
    font-size: 1.4rem;
    @include mq(
      $from: mobile,
      $until: tablet,
      $and: "(orientation: portrait)"
    ) {
      font-size: 2rem;
    }
  }
}
